/*������ �����*/
.container {
background-color:#f0f0f0;
}
h5, h4 {text-align: center;}
h1{
	font: 25px Segoe Print;
	color: #4472c4;
	text-align: center;
}
.head-block{
	height:15%;
	background: #4472c4;
	text-align: center;
	padding: 20px 0;
	font: italic bolder 100% Segoe Print;
	font-size: 2vw;
	color: #fff;
	text-shadow: #395fa3 3px 3px 5px;
}
.head-block p{
	font: bolder 60% Segoe Print;
	color: #4472c4;
}
#emblema{
	width: 18%;
	position: absolute;
	top: 10%;
	left:80%;
}
.top-menu{
	background:#b8d8e3;
	/* #97dff7; */
}
.top-menu ul{
	text-align: center;
	padding-left:0;
	margin-bottom:0;
	color: #4472c4;
}
.top-menu li{
	display:inline-block;
	margin-left:10px;
	padding:3px 20px;
	color: #4472c4;
	font: bolder 150% Segoe Print;
	}
a {
	color: #4472c4;
}
a:hover{
	color: #000;}
ul{
	list-style-image:url(../images/pict.jpg);
	}
.top-material {
	font-size: 15px;
}
.info{
	font-size: 17px;
}
.gallery{
  padding-bottom: 15px;
	padding-top: 15px;
	cursor: pointer;
}

.Video{
border: 3px solid #4472c4;
margin:0 auto;
}
.Photos{
	width: 90%;
	border: 3px solid #4472c4;
	display:block;
	margin:0 auto;
	margin-bottom: 25px;
	cursor: pointer;

}
.music{
	border: 4px solid #4472c4;
	border-radius: 30px;
	max-width: 100%;
}

.foto1{
	width: 47%;
	float:left;
	margin-top: 15px;
}

.foto2{
	margin-top: 15px;
	width: 47%;
  float: right;
}
.centerTest{
	text-align: justify;
  	padding: 0% 2%;
	font-size: 18px;
	min-height: 450px;
	margin-left:5%;
}
#pole{
	border: 2px solid #4472c4;
}
#button{
	border: 3px solid #4472c4;
	background:#CDE56C;
	font: bolder 20px Segoe Print;
}
#button:hover{
	background:#4472c4;
	box-shadow: black 3px 3px 5px;
}

@media (max-width: 600px) {
	.head-block{
		height:30%;
		font-size: 8vw;
	}
	.head-block p{
		font-size: 6vw;
		color: #4472c4;
	}
	.head-block img{
		display: none;
	}
}
